<h1>Questions Index</h1>

<% @questions.each do |question| %>
  <div class="index-question-title" id="question-title-<%=question.id%>">
    <h2><%= link_to question.title, question_url(question) %></h2>
  </div>
  <div class = "index-question-body" id="question-body-<%=question.id%>">
    <%= question.body %>
  </div>
  <div>
    <small><b><%= question.answers.length %> anwers </b></small>
  </div>
<% end %>