<div class="index-head">
<h2>Top Questions</h2>
<hr>
</div>

<div class="index-question-list">
	<% @questions.each do |question| %>
		<div class="index-question-block grad-blue" data-id="<%=question.id%>">

	    <table class="answer-table">
				<tr>
					<td class="vote-cell" valign="top">
						<% my_vote = user_vote_on(question) %>
						<div class="vote-block" data-id="<%= my_vote ? my_vote.id : -1 %>">
							<div class="vote-block-top vote-sub-block
							<%= my_vote && my_vote.is_up ? " my-vote-top" : ""%>" >
							</div>
							<div class="vote-block-ctr vote-sub-block">
							<%= question.rating %>
							</div>
							<div class="vote-block-bot vote-sub-block 
							<%= my_vote && !my_vote.is_up ? " my-vote-bot" : ""%>" >
							</div>
						</div>
					</td>
					<td>
					  <div class="index-question-title" id="question-title-<%=question.id%>">
					    <h2>
					      <%= link_to question.title, question_url(question) %>
								<%= render partial: "questions/delete", locals: { object: question,
													 object_url: question_url(question) } %>
					    </h2>
					  </div>
					  <div class="index-question-body" id="question-body-<%=question.id%>">
							<!-- TODO: fix this -->
					    <%= question.body.html_safe %>
					  </div>
						<div class="index-question-tags" id="question-tags-<%=question.id%>">
							<% if (tags = question.tags) %>
							  <% tags.each do |tag| %>
								<span class="tag-show"><%=tag.name%></span>
								<% end %>
							<% end %>
						</div>
					  <div class="index-answer-count">
					    <small><b><%= question.answers.length %> anwers </b></small>
					  </div>
					</td>
				</tr>
			</table>
		</div>
	<% end %>
</div>

<!-- consider replacing with https://github.com/derobins/wmd/tree/master -->
<a name="ask"></a>
<div class="wmd-panel submit-button">
	<button id="new_question_button">Submit Question</button>
</div>
<div class="wmd-panel" id="title-input">
	<label for="question_title">Title</label>
	<br><input type="text" name="question[title]" id="question_title">
</div>

<div class="wmd-panel" id="body-label">
	Body
</div>
<div class="wmd-panel">
<div id="wmd-button-bar"></div>
<textarea class="wmd-input" id="wmd-input"></textarea>
</div>

<div class="wmd-panel" id="preview-label">
	Preview:
</div>
<div id="wmd-preview" class="wmd-panel wmd-preview">
</div>

<div class="wmd-panel" id="tag-selector">
<% all_tags = Tag.all %>
<label for="question_tag_ids">Tags</label>
<select class="question-tag-select" id="question-tag-ids-0">
	<% all_tags.each do |tag| %>
		<option value="<%=tag.id%>"><%=tag.name%></option>
	<% end %>
</select>
<!-- Now do that 4 more times -->
<% 4.times do |i| %>
<select class="question-tag-select hidden" id="question-tag-ids-<%= i+1 %>">
	<% all_tags.each do |tag| %>
		<option value="<%=tag.id%>"><%=tag.name%></option>
	<% end %>
</select>
<% end %>

</div>

<!-- TODO: pull these scripts out -->
<script type="text/javascript">
  (function () {
      var converter1 = Markdown.getSanitizingConverter();

			//fenced block-quote ("""  """) plugin
      converter1.hooks.chain("preBlockGamut", function (text, rbg) {
          return text.replace(/^ {0,3}""" *\n((?:.*?\n)+?) {0,3}""" *$/gm, function (whole, inner) {
              return "<blockquote>" + rbg(inner) + "</blockquote>\n";
          });
      });

      var editor1 = new Markdown.Editor(converter1);

      editor1.run();
  })();

	//
	$(document).ready(function() {
		$('#new_question_button').on("click", function(event) {
			event.preventDefault();
			var converter = Markdown.getSanitizingConverter();

			var user_text = converter.makeHtml($("#wmd-input").val());

			//send only a unique list of tags when tags are redundant
			//TODO: make redundant tags unselectable
			var tag_ids_arr = [];
			for (var i = 0; i <= 4; i++) {
				var tag_id = $("#question-tag-ids-" + i).val();
				var is_unique = true;
				for (var j = 0; j < i && is_unique; j++) {
					if (tag_ids_arr[j] === tag_id) {
						is_unique = false;
					}
				}
				if (tag_id && is_unique) {
					tag_ids_arr.push(tag_id);
				}
			}

			//this is not adequate for production
			//instead, store markup and convert on render,
			//or use ruby to convert and sanitize in the controller
			var data = {
				question: {
					title: $("#question_title").val() || "(no title)",
					body: user_text,
					tag_ids: tag_ids_arr
				}
			}

			$.ajax({
				url: "<%= questions_url %>",
				type: "POST",
				data: data,
				success: function() {
					console.log("AJAX request sent.")
					document.location.reload(true);
				}
			});
		});
		
		$(".question-tag-select").prop("selectedIndex", -1);

		//This unhides subsequent tag selectors when a tag is selected.
		//TODO: Allow 'closing' of tag selectors
		//TODO: Don't display options in later tag selectors
		//      which were already chosen
		$(".question-tag-select").on("change", function() {
			var my_number = this.id.slice(-1);
			my_number = parseInt(my_number) + 1;
			$my_el = $("#question-tag-ids-" + my_number);
			$my_el.removeClass("hidden");
		});
	});
</script>