<h1>Question</h1>

<div class="show-question-title" id="question-title-<%=@question.id%>">
<h2><%= @question.title %></h2>
</div>
<div class = "show-question-body" id="question-body-<%=@question.id%>">
<%= @question.body %>
</div>

<div>
  <!-- TODO: Use jQuery to make this an in-place form -->
  <%= link_to "Post an Answer", new_question_answer_url(@question) %>
</div>

<% if @question.answers %>
<h1>Answers</h1>
  <% @question.answers.each do |answer| %>
    <small>Answered by <%= answer.user.username %>:</small>
    <p><%= answer.body %></p>
  <% end %>
<% end %>