<h1>Listing tags</h1>

<table>	
<% row_count = ((num_tags = @tags.length) / 4.0).ceil %>
<% row_count.times do |rownum| %>
	<tr>
	<% 4.times do |colnum| %>
		<% tagnum = rownum * 4 + colnum %>
		<% break if tagnum >= num_tags %>
		<td height=60px width=250px>
			<% tag = @tags[tagnum] %>
			<span class="tag-show">
				<%= link_to tag.name, tag %>
			</span>
			&nbsp;x <%= tag.taggings.length %>
			<br>
      <small><small>
			(
			<%= link_to 'Rename', edit_tag_path(tag) %>,
			<%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
			)
      </small></small>
		</td>
	<% end %>
	</tr>
<% end %>
</table>

<br>
<br>
<br>

<%= link_to 'New Tag', new_tag_path %>