<p id="notice"><%= notice %></p>

<% @questions = @tag.questions %>
<div class="index-head">
<h1>Questions tagged <%= @tag.name.capitalize %>: <%= @questions.length %></h1>
<hr>
</div>

<%= render "questions/list" %>

<%= link_to 'Tags Index', tags_path %>
