<!DOCTYPE html>
<html>
<head>
  <title>StackUnderflow</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="header-bar">
  <% if current_user %>
    Logged in as <%= current_user.username %>
     |
     <%= link_to "log out", session_url, method: :delete %>
  <% else %>
    <span class="header-link" id="signup-link">
      <%= link_to "sign up", new_user_url %>
    </span>
    <span class="header-link" id="login-link">
      <%= link_to "log in", new_session_url %>
    </span>
  <% end %>
</div>

<div class="sub-header">
  <%= link_to "Ask Question", new_question_url %><br>
  <%= link_to "Home", home_url %>
</div>

<%= yield %>

</body>
</html>
